<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campaign Detail</title>
    <!-- CSS files -->
    <link href="stylesheets/css/tabler.min.css" rel="stylesheet" />
    <link href="stylesheets/css/tabler-flags.min.css" rel="stylesheet" />
    <link href="stylesheets/css/tabler-payments.min.css" rel="stylesheet" />
    <link href="stylesheets/css/tabler-vendors.min.css" rel="stylesheet" />
    <link href="stylesheets/css/demo.min.css" rel="stylesheet" />
  </head>
  <body>
    <% include ./partials/nav %>
    <div class="container">
      <h1 style="margin-top: 10px">Canpanign Detail</h1>
      <hr />
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 card" style="padding: 5px">
          <img src="/images/profile.jpg" alt="" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="margin-top: 10px;">
          <h3>Campaign Title :King & Queen</h3>
          <h3>Create Date : 23.4.2022</h3>
          <h3>Exp Date : 12.5.2022</h3>
          <h3>Description</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci,
            necessitatibus excepturi. Omnis saepe magnam sed ex enim assumenda
            repellendus sequi?
          </p>
        </div>
      </div>
      <hr />
      <div>
        <h1>Campaign Item</h1>
        <hr />
        <div class="row" style="padding: 5px">
          <div class="card col-lg-3 col-md-4 col-sm-6">
            <div class="row">
              <div class="card" style="padding: 5px">
                <div style="text-align: center">
                  <h1 class="card-title">Mg Mg</h1>
                </div>
                <img
                  src="/images/profile.jpg"
                  alt=""
                  width="384px"
                  height="192px"
                />
              </div>
            </div>
            <div>
              <h3>Description</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In
                incidunt facere adipisci voluptatem facilis, quos cumque
                inventore cupiditate tempora repellendus dicta qui aspernatur
                eius tenetur velit hic aut! Aperiam, alias!
              </p>
            </div>
            <div class="row">
              <div class="col-6">
                <a href="#" class="btn btn-outline">Cancel</a>
              </div>
              <div class="col-6" style="text-align: end">
                <a href="#" class="btn btn-outline-success">Vote</a>
              </div>
            </div>
          </div>

          <!-- delete item start -->
          <div class="card col-lg-3 col-md-4 col-sm-6">
            <div class="row">
              <div class="card" style="padding: 5px">
                <div style="text-align: center">
                  <h1 class="card-title">Mg Mg</h1>
                </div>
                <img
                  src="/images/profile.jpg"
                  alt=""
                  width="384px"
                  height="192px"
                />
              </div>
            </div>
            <div>
              <h3>Description</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In
                incidunt facere adipisci voluptatem facilis, quos cumque
                inventore cupiditate tempora repellendus dicta qui aspernatur
                eius tenetur velit hic aut! Aperiam, alias!
              </p>
            </div>
            <div class="row">
              <div class="col-6">
                <a href="#" class="btn btn-outline">Cancel</a>
              </div>
              <div class="col-6" style="text-align: end">
                <a href="#" class="btn btn-outline-success">Vote</a>
              </div>
            </div>
          </div>
          <div class="card col-lg-3 col-md-4 col-sm-6">
            <div class="row">
              <div class="card" style="padding: 5px">
                <div style="text-align: center">
                  <h1 class="card-title">Mg Mg</h1>
                </div>
                <img
                  src="/images/profile.jpg"
                  alt=""
                  width="384px"
                  height="192px"
                />
              </div>
            </div>
            <div>
              <h3>Description</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In
                incidunt facere adipisci voluptatem facilis, quos cumque
                inventore cupiditate tempora repellendus dicta qui aspernatur
                eius tenetur velit hic aut! Aperiam, alias!
              </p>
            </div>
            <div class="row">
              <div class="col-6">
                <a href="#" class="btn btn-outline">Cancel</a>
              </div>
              <div class="col-6" style="text-align: end">
                <a href="#" class="btn btn-outline-success">Vote</a>
              </div>
            </div>
          </div>
          <div class="card col-lg-3 col-md-4 col-sm-6">
            <div class="row">
              <div class="card" style="padding: 5px">
                <div style="text-align: center">
                  <h1 class="card-title">Mg Mg</h1>
                </div>
                <img
                  src="/images/profile.jpg"
                  alt=""
                  width="384px"
                  height="192px"
                />
              </div>
            </div>
            <div>
              <h3>Description</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In
                incidunt facere adipisci voluptatem facilis, quos cumque
                inventore cupiditate tempora repellendus dicta qui aspernatur
                eius tenetur velit hic aut! Aperiam, alias!
              </p>
            </div>
            <div class="row">
              <div class="col-6">
                <a href="#" class="btn btn-outline">Cancel</a>
              </div>
              <div class="col-6" style="text-align: end">
                <a href="#" class="btn btn-outline-success">Vote</a>
              </div>
            </div>
          </div>
          <div class="card col-lg-3 col-md-4 col-sm-6">
            <div class="row">
              <div class="card" style="padding: 5px">
                <div style="text-align: center">
                  <h1 class="card-title">Mg Mg</h1>
                </div>
                <img
                  src="/images/profile.jpg"
                  alt=""
                  width="384px"
                  height="192px"
                />
              </div>
            </div>
            <div>
              <h3>Description</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In
                incidunt facere adipisci voluptatem facilis, quos cumque
                inventore cupiditate tempora repellendus dicta qui aspernatur
                eius tenetur velit hic aut! Aperiam, alias!
              </p>
            </div>
            <div class="row">
              <div class="col-6">
                <a href="#" class="btn btn-outline">Cancel</a>
              </div>
              <div class="col-6" style="text-align: end">
                <a href="#" class="btn btn-outline-success">Vote</a>
              </div>
            </div>
          </div>
          <div class="card col-lg-3 col-md-4 col-sm-6">
            <div class="row">
              <div class="card" style="padding: 5px">
                <div style="text-align: center">
                  <h1 class="card-title">Mg Mg</h1>
                </div>
                <img
                  src="/images/profile.jpg"
                  alt=""
                  width="384px"
                  height="192px"
                />
              </div>
            </div>
            <div>
              <h3>Description</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In
                incidunt facere adipisci voluptatem facilis, quos cumque
                inventore cupiditate tempora repellendus dicta qui aspernatur
                eius tenetur velit hic aut! Aperiam, alias!
              </p>
            </div>
            <div class="row">
              <div class="col-6">
                <a href="#" class="btn btn-outline">Cancel</a>
              </div>
              <div class="col-6" style="text-align: end">
                <a href="#" class="btn btn-outline-success">Vote</a>
              </div>
            </div>
          </div>
          <div class="card col-lg-3 col-md-4 col-sm-6">
            <div class="row">
              <div class="card" style="padding: 5px">
                <div style="text-align: center">
                  <h1 class="card-title">Mg Mg</h1>
                </div>
                <img
                  src="/images/profile.jpg"
                  alt=""
                  width="384px"
                  height="192px"
                />
              </div>
            </div>
            <div>
              <h3>Description</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In
                incidunt facere adipisci voluptatem facilis, quos cumque
                inventore cupiditate tempora repellendus dicta qui aspernatur
                eius tenetur velit hic aut! Aperiam, alias!
              </p>
            </div>
            <div class="row">
              <div class="col-6">
                <a href="#" class="btn btn-outline">Cancel</a>
              </div>
              <div class="col-6" style="text-align: end">
                <a href="#" class="btn btn-outline-success">Vote</a>
              </div>
            </div>
          </div>
          <div class="card col-lg-3 col-md-4 col-sm-6">
            <div class="row">
              <div class="card" style="padding: 5px">
                <div style="text-align: center">
                  <h1 class="card-title">Mg Mg</h1>
                </div>
                <img
                  src="/images/profile.jpg"
                  alt=""
                  width="384px"
                  height="192px"
                />
              </div>
            </div>
            <div>
              <h3>Description</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In
                incidunt facere adipisci voluptatem facilis, quos cumque
                inventore cupiditate tempora repellendus dicta qui aspernatur
                eius tenetur velit hic aut! Aperiam, alias!
              </p>
            </div>
            <div class="row">
              <div class="col-6">
                <a href="#" class="btn btn-outline">Cancel</a>
              </div>
              <div class="col-6" style="text-align: end">
                <a href="#" class="btn btn-outline-success">Vote</a>
              </div>
            </div>
          </div>
          <!-- delete item end -->
        </div>
      </div>
    </div>

    <!-- footer start  -->
    <% include ./partials/footer %>
    <!-- footer end -->

    <script src="javascripts/js/demo.min.js"></script>
    <script src="javascripts/js/tabler.min.js"></script>
  </body>
</html>
