<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campaign List</title>
    <!-- CSS files -->
    <link href="stylesheets/css/tabler.min.css" rel="stylesheet" />
    <link href="stylesheets/css/tabler-flags.min.css" rel="stylesheet" />
    <link href="stylesheets/css/tabler-payments.min.css" rel="stylesheet" />
    <link href="stylesheets/css/tabler-vendors.min.css" rel="stylesheet" />
    <link href="stylesheets/css/demo.min.css" rel="stylesheet" />
  </head>
  <body>
    <!-- nav start  -->
    <% include ./partials/nav %>
    <!-- nav end -->
    <!-- campaign list start  -->
    <div id="vote-list" class="card container-xl bg-azure-lt">
        <div class="card-header">
          <h3 class="card-title">Campaign List</h3>
        </div>
        <div
          
        >
          <div class="list-group-item">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-3" style="box-shadow: 0px 10px 10px rgb(184, 119, 238);">
                  <div class="card ">
                    <img src="images/profile.jpg" alt="">
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <h1>Campaign Name</h1>
                        <h3>Create Date</h3>
                        <span>23.4.2023</span>
                      </div>
                      <div class="col-3">
                        <a href="/vote-give">
                          <input type="button" value="View" class="btn btn-primary">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
  
              <!-- delete start  -->
              <div class="col-lg-4 col-md-6 col-sm-12 mb-3" style="box-shadow: 0px 10px 10px rgb(184, 119, 238);">
                <div class="card ">
                  <img src="images/profile.jpg" alt="">
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      <h1>Campaign Name</h1>
                      <h3>Create Date</h3>
                      <span>23.4.2023</span>
                    </div>
                    <div class="col-3">
                      <a href="/vote-give">
                        <input type="button" value="View" class="btn btn-primary">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 mb-3" style="box-shadow: 0px 10px 10px rgb(184, 119, 238);">
                <div class="card ">
                  <img src="images/profile.jpg" alt="">
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      <h1>Campaign Name</h1>
                      <h3>Create Date</h3>
                      <span>23.4.2023</span>
                    </div>
                    <div class="col-3">
                      <a href="/vote-give">
                        <input type="button" value="View" class="btn btn-primary">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 mb-3" style="box-shadow: 0px 10px 10px rgb(184, 119, 238);">
                <div class="card ">
                  <img src="images/profile.jpg" alt="">
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      <h1>Campaign Name</h1>
                      <h3>Create Date</h3>
                      <span>23.4.2023</span>
                    </div>
                    <div class="col-3">
                      <a href="/vote-give">
                        <input type="button" value="View" class="btn btn-primary">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 mb-3" style="box-shadow: 0px 10px 10px rgb(184, 119, 238);">
                <div class="card ">
                  <img src="images/profile.jpg" alt="">
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      <h1>Campaign Name</h1>
                      <h3>Create Date</h3>
                      <span>23.4.2023</span>
                    </div>
                    <div class="col-3">
                      <a href="/vote-give">
                        <input type="button" value="View" class="btn btn-primary">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 mb-3" style="box-shadow: 0px 10px 10px rgb(184, 119, 238);">
                <div class="card ">
                  <img src="images/profile.jpg" alt="">
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      <h1>Campaign Name</h1>
                      <h3>Create Date</h3>
                      <span>23.4.2023</span>
                    </div>
                    <div class="col-3">
                      <a href="/vote-give">
                        <input type="button" value="View" class="btn btn-primary">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 mb-3" style="box-shadow: 0px 10px 10px rgb(184, 119, 238);">
                <div class="card ">
                  <img src="images/profile.jpg" alt="">
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      <h1>Campaign Name</h1>
                      <h3>Create Date</h3>
                      <span>23.4.2023</span>
                    </div>
                    <div class="col-3">
                      <a href="/vote-give">
                        <input type="button" value="View" class="btn btn-primary">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 mb-3" style="box-shadow: 0px 10px 10px rgb(184, 119, 238);">
                <div class="card ">
                  <img src="images/profile.jpg" alt="">
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      <h1>Campaign Name</h1>
                      <h3>Create Date</h3>
                      <span>23.4.2023</span>
                    </div>
                    <div class="col-3">
                      <a href="/vote-give">
                        <input type="button" value="View" class="btn btn-primary">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 mb-3" style="box-shadow: 0px 10px 10px rgb(184, 119, 238);">
                <div class="card ">
                  <img src="images/profile.jpg" alt="">
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      <h1>Campaign Name</h1>
                      <h3>Create Date</h3>
                      <span>23.4.2023</span>
                    </div>
                    <div class="col-3">
                      <a href="/vote-give">
                        <input type="button" value="View" class="btn btn-primary">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- delete end -->
  
              </div>
            </div>
          </div>
    <!-- campaign list end  -->
    <!-- footer start  -->
    <% include ./partials/footer %>
    <!-- footer end -->
    <script src="javascripts/js/demo.min.js"></script>
    <script src="javascripts/js/tabler.min.js"></script>
  </body>
</html>
