<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- CSS files -->
    <link href="stylesheets/css/tabler.min.css" rel="stylesheet" />
    <link href="stylesheets/css/tabler-flags.min.css" rel="stylesheet" />
    <link href="stylesheets/css/tabler-payments.min.css" rel="stylesheet" />
    <link href="stylesheets/css/tabler-vendors.min.css" rel="stylesheet" />
    <link href="stylesheets/css/demo.min.css" rel="stylesheet" />
  </head>
  <body>
    <% include ./partials/nav %>

    <div class="container">
      <img src="/images/img/vote-bg.png" alt="">
      <hr>
      <!-- <h2><%= locals.user ? locals.user.email : 'Unknow User' %></h2> -->
      <div>
        <h2 style="margin-bottom: 30px;">King & Queen Selection Recent Campaign</h2>
        <div class="row">
          <div class="card col-lg-4 col-md-4 col-sm-6">
            <h1 class="card-title" style="text-align: center; margin-top: 5px;">King & Queen Selection 2022</h1>
            <img src="/images/profile.jpg" alt="">
            <a href="/campaign-detail" class="card-footer btn btn-primary">View</a>
          </div>

          <!-- delete start  -->
          <div class="card col-lg-4 col-md-4 col-sm-6">
            <h1 class="card-title" style="text-align: center; margin-top: 5px;">King & Queen Selection 2022</h1>
            <img src="/images/profile.jpg" alt="">
            <a href="/campaign-detail" class="card-footer btn btn-primary">View</a>
          </div>
          <div class="card col-lg-4 col-md-4 col-sm-6">
            <h1 class="card-title" style="text-align: center; margin-top: 5px;">King & Queen Selection 2022</h1>
            <img src="/images/profile.jpg" alt="">
            <a href="/campaign-detail" class="card-footer btn btn-primary">View</a>
          </div>
          <div class="card col-lg-4 col-md-4 col-sm-6">
            <h1 class="card-title" style="text-align: center; margin-top: 5px;">King & Queen Selection 2022</h1>
            <img src="/images/profile.jpg" alt="">
            <a href="#" class="card-footer btn btn-primary">View</a>
          </div>
          <div class="card col-lg-4 col-md-4 col-sm-6">
            <h1 class="card-title" style="text-align: center; margin-top: 5px;">King & Queen Selection 2022</h1>
            <img src="/images/profile.jpg" alt="">
            <a href="#" class="card-footer btn btn-primary">View</a>
          </div>
          <div class="card col-lg-4 col-md-4 col-sm-6">
            <h1 class="card-title" style="text-align: center; margin-top: 5px;">King & Queen Selection 2022</h1>
            <img src="/images/profile.jpg" alt="">
            <a href="#" class="card-footer btn btn-primary">View</a>
          </div>
          <!-- delete end -->
        </div>
      </div>
      <!-- project  -->
      <hr>
      <div class="mt-3">
        <h2 style="margin-bottom: 30px;">Project Competition Recent Campaign</h2>
        <div class="row">
          <div class="card col-lg-4 col-md-4 col-sm-6">
            <h1 class="card-title" style="text-align: center; margin-top: 5px;">Project 2023</h1>
            <img src="/images/profile.jpg" alt="">
            <a href="/campaign-detail" class="card-footer btn btn-primary">View</a>
          </div>

          <!-- delete start  -->
          <div class="card col-lg-4 col-md-4 col-sm-6">
            <h1 class="card-title" style="text-align: center; margin-top: 5px;">Project 2023</h1>
            <img src="/images/profile.jpg" alt="">
            <a href="#" class="card-footer btn btn-primary">View</a>
          </div>
          <div class="card col-lg-4 col-md-4 col-sm-6">
            <h1 class="card-title" style="text-align: center; margin-top: 5px;">Project 2023</h1>
            <img src="/images/profile.jpg" alt="">
            <a href="#" class="card-footer btn btn-primary">View</a>
          </div>
          <div class="card col-lg-4 col-md-4 col-sm-6">
            <h1 class="card-title" style="text-align: center; margin-top: 5px;">Project 2023</h1>
            <img src="/images/profile.jpg" alt="">
            <a href="#" class="card-footer btn btn-primary">View</a>
          </div>
          <div class="card col-lg-4 col-md-4 col-sm-6">
            <h1 class="card-title" style="text-align: center; margin-top: 5px;">Project 2023</h1>
            <img src="/images/profile.jpg" alt="">
            <a href="#" class="card-footer btn btn-primary">View</a>
          </div>
          <div class="card col-lg-4 col-md-4 col-sm-6">
            <h1 class="card-title" style="text-align: center; margin-top: 5px;">Project 2023</h1>
            <img src="/images/profile.jpg" alt="">
            <a href="#" class="card-footer btn btn-primary">View</a>
          </div>
          <!-- delete end -->
        </div>
      </div>
      <!-- other  -->
      <hr>
      <div class="mt-3">
        <h2 style="margin-bottom: 30px;">Other Recent Campaign</h2>
        <div class="row">
          <div class="card col-lg-4 col-md-4 col-sm-6">
            <h1 class="card-title" style="text-align: center; margin-top: 5px;">Other Project 2023</h1>
            <img src="/images/profile.jpg" alt="">
            <a href="/campaign-detail" class="card-footer btn btn-primary">View</a>
          </div>

          <!-- delete start  -->
          <div class="card col-lg-4 col-md-4 col-sm-6">
            <h1 class="card-title" style="text-align: center; margin-top: 5px;">Other Project 2023</h1>
            <img src="/images/profile.jpg" alt="">
            <a href="#" class="card-footer btn btn-primary">View</a>
          </div>
          <div class="card col-lg-4 col-md-4 col-sm-6">
            <h1 class="card-title" style="text-align: center; margin-top: 5px;">Other Project 2023</h1>
            <img src="/images/profile.jpg" alt="">
            <a href="#" class="card-footer btn btn-primary">View</a>
          </div>
          <div class="card col-lg-4 col-md-4 col-sm-6">
            <h1 class="card-title" style="text-align: center; margin-top: 5px;">Other Project 2023</h1>
            <img src="/images/profile.jpg" alt="">
            <a href="#" class="card-footer btn btn-primary">View</a>
          </div>
          <div class="card col-lg-4 col-md-4 col-sm-6">
            <h1 class="card-title" style="text-align: center; margin-top: 5px;">Other Project 2023</h1>
            <img src="/images/profile.jpg" alt="">
            <a href="#" class="card-footer btn btn-primary">View</a>
          </div>
          <div class="card col-lg-4 col-md-4 col-sm-6">
            <h1 class="card-title" style="text-align: center; margin-top: 5px;">Other Project 2023</h1>
            <img src="/images/profile.jpg" alt="">
            <a href="#" class="card-footer btn btn-primary">View</a>
          </div>
          <!-- delete end -->
        </div>
      </div>
    </div>

    <!-- footer start  -->
    <% include ./partials/footer %>
    <!-- footer end -->
      </div>
    </div>
    <!-- vote list end  -->

 

    <script src="javascripts/js/demo.min.js"></script>
    <script src="javascripts/js/tabler.min.js"></script>
  </body>
</html>
