<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vote List</title>

    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
    <link href="stylesheets/css/tabler.min.css" rel="stylesheet" />

    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <!-- Responsive-->
    <link rel="stylesheet" href="stylesheets/responsive.css" />
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="stylesheets/jquery.mCustomScrollbar.min.css" />
    <!-- Tweaks for older IEs-->
    <link
      rel="stylesheet"
      href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    />
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="stylesheets/owl.carousel.min.css" />
    <!-- <link rel="stylesheet" href="css/owl.theme.default.min.css"> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen"
    />

    <!-- CSS files -->
    <link href="stylesheets/css/tabler.min.css" rel="stylesheet" />
    <link href="stylesheets/css/tabler-flags.min.css" rel="stylesheet" />
    <link href="stylesheets/css/tabler-payments.min.css" rel="stylesheet" />
    <link href="stylesheets/css/tabler-vendors.min.css" rel="stylesheet" />
    <link href="stylesheets/css/demo.min.css" rel="stylesheet" />
  </head>
  <body>
    <!-- nav start  -->
    <% include ./partials/nav %>
    <!-- nav end -->

    <!-- image layout start  -->
    <div class="container card mt-4" align="center">
      <div class="card-header">
        <h4 class="card-title">Vote List</h4>
      </div>
      <div class="mt-2">
        <form action="#" method="post">
          <div class="row">
            <div class="card col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-2 ml-2">
              <h3>Name</h3>
              <label class="form-imagecheck mb-3">
                <input
                  name="form-imagecheck"
                  type="checkbox"
                  value="1"
                  class="form-imagecheck-input"
                />
                <span class="form-imagecheck-figure">
                  <img
                    src="images/profile.jpg"
                    alt="Breakfast served with tea, bread and eggs"
                    class="form-imagecheck-image"
                  />
                </span>
                <h3 class="float-start m-0 p-0">this is detail</h3>
              </label>
            </div>
          </div>
          <div class="card-footer">
            <div class="d-flex">
              <a href="/dashboard" class="btn">Cancel</a>
              <button
                type="button"
                class="btn btn-primary ms-auto"
                data-bs-toggle="modal"
                data-bs-target="#modal-small"
              >
                Send data
              </button>
            </div>
          </div>
          <!-- modal start  -->
          <div
            class="modal modal-blur fade"
            id="modal-small"
            tabindex="-1"
            role="dialog"
            aria-hidden="true"
          >
            <div
              class="modal-dialog modal-sm modal-dialog-centered"
              role="document"
            >
              <div class="modal-content">
                <div class="modal-body">
                  <div class="modal-title">Are you sure?</div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-link link-secondary me-auto"
                    data-bs-dismiss="modal"
                  >
                    Cancel
                  </button>
                  <button
                    type="submit"
                    class="btn btn-danger"
                    data-bs-dismiss="modal"
                  >
                    Yes,send data
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- modal end  -->
        </form>
      </div>
      <!-- image layout end -->

      <!-- Campaign detail start  -->
       <div class="card-body">
          <h3 class="card-title">Campaign Name(detail)</h3>
          <div class="card">
            <img src="images/profile.jpg" alt="">
          </div>
        </div>

        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
          Asperiores maiores illum voluptatem dolor harum perspiciatis? 
          Eum, sunt! Reiciendis odit quaerat impedit ipsam consequatur eaque, 
          ex porro cumque fugiat perferendis accusamus possimus maxime delectus provident, 
          explicabo ratione ipsa autem, consectetur rem nostrum assumenda voluptatibus a? 
          Placeat dolores molestias nihil sapiente itaque facere, culpa, voluptatem, 
          fuga commodi veniam id quibusdam repellendus maxime? 
          Nulla doloremque quam vel cupiditate provident suscipit laudantium placeat 
          laboriosam itaque temporibus. Magnam, earum! Voluptatem amet quidem officia 
          est sapiente? Voluptate amet, 
          quos cupiditate nobis consequatur tempore itaque sed distinctio.
        </p>
      </div>
      <!-- Campaign detail end -->
      <!-- footer start  -->
      <% include ./partials/footer %>
      <!-- footer end  -->
    </div>

    <!-- Javascript files-->
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/popper.min.js"></script>
    <script src="javascripts/bootstrap.bundle.min.js"></script>
    <script src="javascripts/jquery-3.0.0.min.js"></script>
    <script src="javascripts/plugin.js"></script>
    <!-- sidebar -->
    <script src="javascripts/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="javascripts/custom.js"></script>
    <!-- javascript -->
    <script src="javascripts/js/demo.min.js"></script>
    <script src="javascripts/js/tabler.min.js"></script>

    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
  </body>
</html>
